:root {
    font-size: 15px;
    font-family: 'Spartan', sans-serif;
    font-weight: 500;
    --bg-color: hsl(180, 52%, 96%);
    --filter-tablets: hsl(180, 31%, 95%);
    --dark-gcyan: hsl(180, 8%, 52%);
    --vdark-gcyan: hsl(180, 14%, 20%);
    --desaturated-cyan: hsl(180, 29%, 50%);
}

body {
    /* margin: 0; */
    padding: 0;
    max-width: 1440px;
    margin: 0 auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.app {
  background-color: var(--bg-color);
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.company-name {
  color: var(--desaturated-cyan);
  font-size: 0.9rem;
  font-weight: 700;
}

.header-div {
    background-color: var(--desaturated-cyan);
    text-align: center;
    margin: 0;
    padding: 0;
}

.header-img {
    height: 156px;
    width: 1440px;
    margin-bottom: -4px;
}

.information {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.job {
  background-color: white;
  box-shadow: 2px 3px 4px black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem auto;
  width: 80%;
}

.job-tag {
  background-color: var(--filter-tablets);
  border-radius: 8px;
  color: var(--desaturated-cyan);
  font-size: 0.8rem;
  font-weight: 700;
  padding: 0.3rem 0.7rem;
  margin-right: 1rem;
}

.logo {
  margin-left: 1rem;
  margin-right: 1.3rem;
}

.new-tag, .featured-tag {
  background-color: var(--desaturated-cyan);
  border-radius: 8px;
  color: white;
  font-size: 0.55rem;
  padding: 0.3rem 0.5rem;
  position: relative;
  bottom: 0.07rem;
  left: 0.4rem;
}

.featured-tag {
  background-color: var(--vdark-gcyan);
  left: 0.8rem;
}

.other-info {
  color: var(--dark-gcyan);
  font-size: 0.9rem;
}

.position {
  font-weight: 700;
}

.small-square {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.tags {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 1440px) {
  .header-img, .app {
      width: 100vw;
  }

}
